#!/bin/ksh

daemon="${TRUEPREFIX}/bin/lilmon"
daemon_flags="serve --config-path ${SYSCONFDIR}/lilmon/lilmon.ini"
daemon_logger="daemon.info"
daemon_user="_lilmon"

. /etc/rc.d/rc.subr

pexp="${daemon} serve.*"
rc_bg=YES

rc_cmd $1
